
@media (max-width: 991px) {
    .about-us{

        img {
            height: 100%;
            object-fit: contain;
        }
    

    .pad-0 {
        padding: 0;
    }

    .text {
        padding: 30px 15px;
        text-align: center;
        
    }
    }
}