.wrapper-form {
    padding: 154px 0 0 0;
    margin-bottom: 68px;
    .wrapper-title {
        text-align: center;
        padding-bottom: 40px;
        h3 {
            @include title ($fz-30, $col-on-bg, $upp, $fw-b);
            color: $col-title-bg-logo;
        }
        p {
            font-size: $fz-text-p;
            color: $col-title-bg-logo;
            ;

        }
    }
    form {
        align-items: center;
        
        .inp-style {
            border-left: none;
            border-radius: 0 .25rem .25rem 0;
            padding: 0.385rem 3.5rem 0.385rem 0;
            border-radius: 0px 2px 2px 0;
            box-shadow: none;
            border: 1px solid #ced4da;
            border-left: none;
        }
        .inp {
            background: #ffffff;
            display: block;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            padding: 16px;
            font-size: $fz-btn;
            background-clip: padding-box;
            color: #6e6e6e;
            border-radius: .25rem 0 0 .25rem;
            border: 1px solid #ced4da;
            border-right: none;
             -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        [type="button"] {
            background: $col-main;
            border: $col-main;
            color: $col-on-bg;
            text-transform: uppercase;
            font-size: $fz-btn;
            padding: 17px 52px;
            border-radius: 2px 2px 2px 2px!important;

            &:hover {
                box-shadow: 2px 2px 2px 2px #e7ad47;
            }
        }
    }

   .wrapper-logo {
      
            background-image: url("../img/Dotted-Map.png");
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 94px;
            padding-bottom: 221px;
            border-bottom: 1px solid #a9a9a9;
            
        .wrapper-logo-text {

                width: 280px;
                height: 280px;
                background-color: $col-title-bg-logo;
                border-radius: 50%;
                text-align: center;
                @extend %flex-element-center;
                justify-content: center;
                margin-bottom: 15px;

            
            
            h5 {
                font-size: 15px;
                color: $col-on-bg;
                text-transform: uppercase;
            }
            p {
                font-size: $main-fz-text;
                color: #aeb7ba;
            }
            a{
                text-decoration: none;
                font-size: $fz-link;
                color: $col-main;
            }
        }
    
    }
}