.price-card {
    background: #e7edf3;
    padding: 135px 0 190px 0;
    .wrapper-text-card {
        text-align: center;
        padding-bottom: 80px;
        
        h2 {
            @include title ($fz-30, $col-on-bg, $upp, $fw-b);
            color: $col-title-bg-logo;
        }
        p {
            font-size: 18px;
            color: #75888d;
        }
    }
        .wrapper-price-card {
            padding: 55px 0 45px 0;
            border: 1px solid #e2e9f0;
            background: #fff;
            .min-container {
            @extend %flex-element-center;
            text-align: center;
            margin: 0 30px;
            
            }

            &:hover {
            background: #709dca;
            transform: scale(1.1);
            transition: 1.5ms;

            h4+span::before{
                color: $col-on-bg;
            }
            h4, span {
                color: $col-on-bg;
            }

            }

        h4 {
            font-size: 25px;
            color: $col-card;
            text-transform: uppercase;
            padding-top: 55px;
        }

        h4+span {
            font-size: 60px;
            color: $col-main;
            position: relative;
            

        &::before {
                content: "$";
                font-size: 40px;
                color: $col-main;
                position: absolute; 
                left: 30%;
                top: 10%;
            }

        }

        span {
            font-size: 14px;
            color: #b5bbc1;
            text-transform: uppercase;
        }
        .pad-span-1 {
            padding-bottom: 33px;
            border-bottom: 1px solid #e2e9f0;
        }
        .pad-span {
            padding: 14px 0;
            border-bottom: 1px solid #e2e9f0;
        }
        .pad-span-3 {
            padding: 12px 0 32px 0;
        }
        .pad-in-span {
            padding: 14px 20px;
            color: $col-on-bg;
            text-transform: uppercase;
            font-size: 14px;
        } 
}
}